<h4>Name: <%= @user.name.capitalize %></h4>
<h4>Alias: <%= @user.alias.capitalize %></h4>
<h4>Email: <%= @user.email %></h4>
<hr>
<hr>
<p>Total number of posts: <%= @ideas.count %></p>
<p>Total number of likes: <%= @ideas_liked.count %></p>
